Options -Indexes
IndexIgnore */*
Options FollowSymLinks
RewriteEngine On

RewriteRule ^admin(/.+)?$ backend/web/$1 [L,PT]
RewriteRule ^admin/(.+)?$ backend/web/$1 [L,PT]
RewriteRule ^(.+)?$ frontend/web/$1